<a href="https://colab.research.google.com/github/Devyanigangurde/devyani/blob/main/netflix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Eclat

## Importing the libraries

In [ ]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: apyori in /usr/local/lib/python3.10/dist-packages (1.1.2)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd


## Importing Dataset

In [ ]:
dataset = pd.read_csv('netflixdata.csv', header=None, encoding='latin-1')
transactions = []
for i in range(0, 7466):
  transactions.append([str(dataset.values[i,j]) for j in range(0, 20)])




## Eclat Training On Dataset

In [ ]:
from apyori import apriori
rules = apriori(transactions = transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)

## Visualizing

### Raw Results

In [ ]:
results = list(rules)

In [ ]:
results

[RelationRecord(items=frozenset({'Captain America', 'Black Panther'}), support=0.00334851326011251, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Captain America'}), items_add=frozenset({'Black Panther'}), confidence=0.24509803921568626, lift=5.154653410660038)]),
 RelationRecord(items=frozenset({'Game of thrones', 'Comedy nights with Kapil'}), support=0.0032145727297080095, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Game of thrones'}), items_add=frozenset({'Comedy nights with Kapil'}), confidence=0.20512820512820512, lift=3.1064648671139543)]),
 RelationRecord(items=frozenset({'Kanan Gill Comedy', 'Comedy nights with Kapil'}), support=0.008036431824270024, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Kanan Gill Comedy'}), items_add=frozenset({'Comedy nights with Kapil'}), confidence=0.2727272727272727, lift=4.130186243776508)]),
 RelationRecord(items=frozenset({'Game of thrones', 'Prision Break'}), support=0.004553978033753014, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Game of thrones'}), items_add=frozenset({'Prision Break'}), confidence=0.2905982905982906, lift=4.832086498010774)]),
 RelationRecord(items=frozenset({'Harry Potter 2', 'Harry Potter 1'}), support=0.0057594428073935175, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Harry Potter 1'}), items_add=frozenset({'Harry Potter 2'}), confidence=0.36752136752136755, lift=4.642833383950135)]),
 RelationRecord(items=frozenset({'The Lord of the rings', 'Harry Potter 1'}), support=0.005089740155371015, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Harry Potter 1'}), items_add=frozenset({'The Lord of the rings'}), confidence=0.3247863247863248, lift=4.33784382979374)]),
 RelationRecord(items=frozenset({'Harry Potter 2', 'crimes of grindelwald'}), support=0.0057594428073935175, ordered_statistics=[OrderedStatistic(items_base=frozenset({'crimes of grindelwald'}), items_add=frozenset({'Harry Potter 2'}), confidence=0.3006993006993007, lift=3.7986818595955647)]),
 RelationRecord(items=frozenset({'Interstellar', 'inception'}), support=0.015938923118135547, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Interstellar'}), items_add=frozenset({'inception'}), confidence=0.3216216216216216, lift=3.2669755469755466)]),
 RelationRecord(items=frozenset({'The Wolf of Wall Street', 'inception'}), support=0.005357621216180016, ordered_statistics=[OrderedStatistic(items_base=frozenset({'The Wolf of Wall Street'}), items_add=frozenset({'inception'}), confidence=0.3773584905660377, lift=3.8331408034912076)])]

### Proper Display

In [ ]:
def inspect(results):
  movie_1       = [tuple(result[2][0][0])[0] for result in results]
  movie_2       = [tuple(result[2][0][1])[0] for result in results]
  supports  = [result[1] for result in results]
  return list(zip(movie_1, movie_2, supports))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Movie 1', 'Movie 2', 'Support'])

In [ ]:
resultsinDataFrame

                   Movie 1                   Movie 2   Support
0          Captain America             Black Panther  0.003349
1          Game of thrones  Comedy nights with Kapil  0.003215
2        Kanan Gill Comedy  Comedy nights with Kapil  0.008036
3          Game of thrones             Prision Break  0.004554
4           Harry Potter 1            Harry Potter 2  0.005759
5           Harry Potter 1     The Lord of the rings  0.005090
6    crimes of grindelwald            Harry Potter 2  0.005759
7             Interstellar                 inception  0.015939
8  The Wolf of Wall Street                 inception  0.005358

In [ ]:
resultsinDataFrame.nlargest(n = 10, columns = 'Support')

                   Movie 1                   Movie 2   Support
7             Interstellar                 inception  0.015939
2        Kanan Gill Comedy  Comedy nights with Kapil  0.008036
4           Harry Potter 1            Harry Potter 2  0.005759
6    crimes of grindelwald            Harry Potter 2  0.005759
8  The Wolf of Wall Street                 inception  0.005358
5           Harry Potter 1     The Lord of the rings  0.005090
3          Game of thrones             Prision Break  0.004554
0          Captain America             Black Panther  0.003349
1          Game of thrones  Comedy nights with Kapil  0.003215